Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@murvanessa 
abelRoland
/
HTML-CSS-Practice-Problems
forked from DevMountain/HTML-CSS-Practice-Problems
0
01.1k
 Code
 Pull requests 0 Actions
 Projects 0
 Wiki
 Security 0
 Insights
HTML-CSS-Practice-Problems/level-3/step-1/step-1.css
@abelRoland abelRoland Complete Level 3
d20771e 6 days ago
@bencallis1@devlemire@abelRoland
75 lines (54 sloc)  919 Bytes
  
/*  Step-1 add a background image that takes up the entire width of the container */

.main-top-section {
    width: 100%;
    height: 200px;
    position: relative;
    background: #F2EFE5;
}


.top-header {
    width: 100%;
    padding-top: 10px;
    height: 70px;
    text-align: center;

}


.menu {
    width: 100px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;

}

.menu-icon {
    width: 60%;

}

.logo {
    width: 300px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;

}

.logo-icon {
    width: 75%;
}

.sign-in {
    width: 100px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 30px;

}

.sign-in-icon {
    width: 60%;
}


.bottom-container {
    width: 100%;
    height: 60px;
    position: absolute;
    text-align: center;
    bottom: -30px;

}


.shop-icon {
    width: 350px;
}
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
